/* -Rama B de pruebas con section div position display box */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-padre{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    position: relative;
}

.caja-1{
    border: 2px solid black;
    background-color: lightcoral;
    position: absolute;
    top: 0; 
    left: 0;
    margin: calc(25vw / 9);
}

.caja-2{
    border: 2px solid black;
    width: calc(2785vw / 72);                                       
    height: calc(75vh / 16);                                       
    background-color: lightblue;
    position: absolute;
    top: calc(525vh / 32);
    left: calc(50vw / 3);
}

.caja-3{
    border: 2px solid black;
    width: calc(250vw / 9);                           
    height: calc(1475vh / 16);                          
    background-color: lightgreen;
    position: absolute;
    right: 0;
    top: 0;
    margin: calc(25vw / 9);
}
.caja-4{
    border: 2px solid black;
    width: calc(425vw / 9);                           
    height: calc(2525vh / 256);                          
    background-color: lightpink;
    position: absolute;
    bottom: calc(225vh / 32);
    left: calc(50vw / 3);
}

.caja-1, .caja-2, .caja-3, .caja-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 375px) and (max-width: 768px){
    .caja-1{
        margin: calc(3671vh / 587) calc(125vw / 24);
    } 
    .caja-2{
        width: calc(1075vw / 12);                                      
        height: calc(2400vh / 587); 
        top: calc(12000vh / 587);
        left: calc(125vw / 24);
    }
    .caja-3{
        width: calc(1075vw / 12);                          
        height: calc(6650vh / 587);                          
        left: 0;
        bottom: 0;
        margin: calc(125vw / 24);
    }
    .caja-4{
        width: calc(1075vw / 12);                          
        height: calc(5050vh / 587);          
        bottom: calc(11850vh / 587);
        left: calc(125vw / 24);
    }
}
    
