*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.cnt-padre{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    position: relative;
}

.cnt-logo{
    position: absolute;
    top: 0; 
    left: 0;
    margin: calc(25vw / 9);
}

.cnt-input{
    width: calc(425vw / 9);                                       
    height: calc(225vh / 4);                                       
    background-color: lightblue;
    position: absolute;
    top: calc(525vh / 32);
    left: calc(50vw / 3);
}

.cnt-input textarea{
    resize: none;
    border: none;
    outline: none;
    width: inherit;
    height: inherit;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
    background-color: #E5E5E5;
}

.cnt-input textarea::placeholder{
    color: #0A3871;
}


.cnt-output{
    width: calc(250vw / 9);                           
    height: calc(1475vh / 16);                          
    background-color: lightgreen;
    position: absolute;
    right: 0;
    top: 0;
    margin: calc(25vw / 9);
}
.cnt-botones{
    width: calc(425vw / 9);                           
    height: calc(2525vh / 256);                          
    background-color: lightpink;
    position: absolute;
    bottom: calc(225vh / 32);
    left: calc(50vw / 3);
}

.cnt-logo, .cnt-input, .cnt-output, .cnt-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 768px){

    /*Responsividad tablet*/

    .cnt-logo{
        margin: calc(3671vh / 587) calc(-75vw / 128);
    } 
    .cnt-input{
        width: calc(1075vw / 12);                                      
        height: calc(28800vh / 587); 
        top: calc(12000vh / 587);
        left: calc(125vw / 24);
    }
    .cnt-output{
        width: calc(1075vw / 12);                          
        height: calc(6650vh / 587);
        top: auto;                          
        left: 0;
        bottom: 0;
        margin: calc(125vw / 24);
    }
    .cnt-botones{
        width: calc(1075vw / 12);                          
        height: calc(5050vh / 587);          
        bottom: calc(11850vh / 587);
        left: calc(125vw / 24);
    }
}
    
@media (max-width: 375px){

    /* Responsibidad para celular */

    .cnt-logo{
        margin: calc(800vh / 311) calc(-38vw / 5);
    } 
    .cnt-input{
        width: calc(1372vw / 15);                                    
        height: calc(10000vh / 311); 
        top: calc(15200vh / 933);
        left: calc(64vw / 15);
    }
    .cnt-output{
        width: calc(436vw / 5);                          
        height: calc(6200vh / 311);
        top: auto;                          
        left: 0;
        bottom: 0;
        margin: calc(4000vh / 933) calc(32vw / 5);
    }
    .cnt-botones{
        width: calc(1372vw / 15);                          
        height: calc(15800vh / 933);          
        bottom: calc(29000vh / 933);
        left: calc(64vw / 15);
    }
}