/*Código CSS3 terminado, sin JS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.cnt-padre{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    position: relative;
}

.cnt-logo{
    position: absolute;
    top: 0; 
    left: 0;
    margin: calc(25vw / 9);
}

.cnt-input{
    width: calc(425vw / 9);                                       
    height: calc(225vh / 4);                                       
    position: absolute;
    top: calc(525vh / 32);
    left: calc(50vw / 3);
}

.cnt-input textarea{
    resize: none;
    border: none;
    outline: none;
    width: inherit;
    height: inherit;
    font-weight: 400;
    font-size: 32px;
    color: #0A3871;
    background-color: #E5E5E5;
}

.cnt-input textarea::placeholder{
    color: #0A3871;
}


.cnt-output{
    width: calc(250vw / 9);                           
    height: calc(1475vh / 16);                          
    background-color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    margin: calc(25vw / 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}

.cnt-botones{
    width: calc(425vw / 9);                           
    height: calc(2525vh / 256);                          
    position: absolute;
    bottom: calc(225vh / 32);
    left: calc(50vw / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alerta{
    display: flex;
    justify-content: left;
}

.alerta p{
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

.alerta img{
    width: 16px;
    margin-right: 8px;
}

.botones{
    display: flex;
    justify-content: space-between;
}

.btn1, .btn2, .btn3{
    width: calc(205vw / 9);               
    height: calc(1675vh / 256);               
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
}

.btn1{
    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
}

.btn2, .btn3{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.output-salida{
    border: none;
    outline: none;
    resize: none;
    width: calc(70vw / 3); 
    height: calc(19525vh / 256);
    margin: calc(20vw /9);
    line-height: 150%;
    font-size: 24px;
    color: #495057;
}

.btn3{
    background-color: #FFFFFF;
    margin: calc(20vw / 9);
}

@media (min-width: 375px) and (max-width: 1180px){ /*768 para tablet alura*/

    /*Responsividad tablet*/
    .cnt-padre{
        max-width: 100%;
        height: calc(138400vh / 1174);
    }

    .cnt-logo{
        margin: calc(3671vh / 587) calc(-75vw / 128);
    } 
    .cnt-input{
        width: calc(1075vw / 12);                                      
        height: calc(27000vh / 587); 
        top: calc(12000vh / 587);
        left: calc(125vw / 24);
    }
    .cnt-output{
        width: calc(1075vw / 12);                          
        height: calc(17150vh / 587);
        top: auto;                          
        left: 0;
        bottom: 0;
        margin: calc(125vw / 24);
    }

    .cnt-botones{
        width: calc(1075vw / 12);                          
        height: calc(5050vh / 587);          
        bottom: calc(22350vh / 587);
        left: calc(125vw / 24);
    }

    .btn1, .btn2, .btn3{
        width: calc(2075vw / 48);               
        height: calc(3350vh / 587);               
    }

    .output-salida{
        width: calc(325vw / 4);
        margin: calc(25vw / 6) calc(25vw / 6) 0 calc(25vw / 6);   
        height: calc(9000vh / 587); 
    }
    
    .btn3{
        width: calc(325vw / 4);
        height: calc(3350vh / 587);   
        margin: calc(25vw / 6);
    }
    
    
}
    
@media (max-width: 375px){

    /* Responsibidad para celular */

    .cnt-padre{
        max-width: 100%;
        height: calc(171500vh / 933);
    }

    .cnt-logo{
        margin: calc(800vh / 311) calc(-38vw / 5);
    } 

    .cnt-input{
        width: calc(1372vw / 15);                                    
        height: calc(9000vh / 311); 
        top: calc(15200vh / 933);
        left: calc(64vw / 15);
    }

    .cnt-input textarea{
        width: calc(1372vw / 15);
        height: calc(20800vh / 311);
    }

    .cnt-output{
        width: calc(436vw / 5);                          
        height: calc(6200vh / 311);
        top: auto;                          
        left: 0;
        bottom: 0;
        margin: calc(4000vh / 933) calc(32vw / 5);
    }

    .cnt-botones{
        width: calc(1372vw / 15);                          
        height: calc(19000vh / 933);          
        bottom: calc(68300vh / 933);
        left: calc(64vw / 15);
        justify-content: space-between;
    }

    .botones{
        height: 158px;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn1, .btn2, .btn3{
        width: 100%; 
        height: calc(6700vh / 933);                            
    }

    .cnt-output{
        width: calc(1372vw / 15);
        height: calc(59500vh / 933);
        margin: calc(32vw / 5) calc(64vw / 15);
    }

    .output-salida{
        width: calc(372vw / 5);
        height: calc(14400vh / 311); 
        margin: calc(128vw / 15);
    }
    
    .btn3{
        width: calc(372vw / 5);
        height: calc(6700vh / 933);   
        margin: calc(128vw / 15); 
    }
}


